extends layout
block content
    div(class="container")
        div(class="row")
            div(class="col-12")
                h1 CoinKeeper
    div(class="container")
        div(class="row")
            div(class="col-8")
                div(class="input-group mb-3")
                    div(class="input-group-prepend")
                        button(class="btn btn-outline-secondary" type="button" id="button-addon1") Добавить категорию
                    input(type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" id="text")

    div(class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
        div(class="modal-dialog" role="document")
            div(class="modal-content")
                div(class="modal-header")
                    h5(class="modal-title" id="exampleModalLabel") History Operation
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                table
                    div(class="modal-body" id="history")
                div(class="modal-footer")
                    button(type="button" class="btn btn-secondary" data-dismiss="modal") Close

    div(class="container")
        div(class="row")
            div(class="col-8")
                div(id="test")
            div(class="col-12")
                div(id="container"  style="min-width: 310px; height: 400px; margin: 0 auto")
        a(class="link" href="statistics.html") Статистика
    script(src="index.js")
    script(src="historyOperation.js")