extends layout
block content
    div(class="container")
        div(class="row")
            div(class="col-10")
                h1 CoinKeeper
            div(class="col-2")
                form(action="/logout" method="post")
                    button(type="submit" id="logout") LogOut
    div(class="container")
        div(class="row")
            div(class="col-8")
                div(class="input-group mb-3")
                    div(class="input-group-prepend")
                        button(class="btn btn-outline-secondary" type="button" id="addCategory") Добавить категорию
                    input(type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" id="categoryName")

    div(class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
        div(class="modal-dialog" role="document")
            div(class="modal-content")
                div(class="modal-header")
                    h5(class="modal-title" id="exampleModalLabel") History Operation
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                table
                    div(class="modal-body" id="history")
                div(class="modal-footer")
                    button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
    div(class="container")
        div(class="row")
            div(class="col-8")
                div(id="CategoriesDivContent")
                    div(class="input-group mb-3" v-for="category in categories" v-bind:id="category.CategoryId")
                        div(class="input-group-prepend")
                            span(class="input-group-text") {{category.Name}}
                    input(v-bind:id='input + category.CategoryId' type="text" class="form-control" aria-label="Amount (to the nearest dollar)" v-bind:value="category.Value")
                    div(class="input-group-append")
                        span(class="input-group-text") .00 руб.
                    button(v-bind:categoryid="category.CategoryId" type="button" class="btn btn-success") +
                    div(class="dropdown dropright"  sytle="margin-left:15px;")
                        button(class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Дополнительно
                        div(class="dropdown-menu" aria-labelledby="dropdownMenuButton")
                            button(v-bind:button_number="category.CategoryId" type="button" class="btn red dropdown-item btn-danger") удалить категрию
                            button(type="button" class="btn dropdown-item grey btn-secondary" data-toggle="modal" data-target="#exampleModal" v-bind:categoryId="category.CategoryId") история операций
            div(class="col-12")
                div(id="container")
        a(class="link" href="statistics.html") Статистика
    script(src="index.js")
    script(src="historyOperation.js")