extends ./layout
block content
    div(class="container")
        div(class="row")
            div(class="col-3")
            div(class="col-6")
                h1 Вам отправлено письмо на адрес #{email}. 
            div(class="col-3")