extends layout
block content
    div(class="container")
    div(class="row")
        div(class="col-6")
            h1 Вход
            form(action="/auth/local" method="post")
                div(class="form-group")
                    label(for="email") Email
                    input(type="email" name='email' class="form-control" id="email" aria-describedby="emailHelp" placeholder="Введите email")
                    small(id="emailHelp" class="form-text text-muted")
                div(class="form-group")
                    label(for="password") Пароль
                    input(type="password" name="password" class="form-control" id="password" placeholder="Введите password")
                input(type="submit" class="btn btn-primary btn_logPage" id="sub" value="Войти")
    .row
        .col-6
            a(href="/registration")
                button(class="btn btn-primary btn_logPage") Зарегистрироваться
    .row
        .col-6
            a(href="/auth/vkontakte")
                button(class="btn btn-primary btn_logPage") Войти с помощью vk.com
    .row
        .col-6
            a(href="#")
                button(class="btn btn-primary btn_logPage") Войти с помощью github.com
    .row
        .col-6
            a(href="/auth/facebook")
                button(class="btn btn-primary btn_logPage") Войти с помощью facebook.com
